<form name="music" action="" method="POST">
  <p>
    <label for="title">Title</label><br/>
    <input name="title" type="text">
  </p>

  <p>
    <label for="artist">Artist</label><br/>
    <input name="artist" type="text">
  </p>

  <p>
    <label for="album_title">Album Title</label><br/>
    <input name="album_title" type="text">
  </p>

  <p>
    <label for="description">Description</label><br/>
    <input name="description" type="text">
  </p>

  <p>
    <label for="genres"></label><br>
    <select multiple>
      <option>jazz</option>
      <option>rock</option>
      <option>blues</option>
      <option>R & B</option>
      <option>Afro pop</option>
      <option>country</option>
      <option>Ragea</option>
      <option>trap</option>
      <option>shakuku</option>
      <option>highlife</option>
    </select>
  </p>

  <p>
    <label for="composer">Composer</label><br/>
    <input name="composer" type="text">
  </p>

  <p>
    <label for="producer">Producer</label><br/>
    <input name="producer" type="text">
  </p>

  <p>
    <label for="released">Released</label><br/>
      <input name="released" type="text">
  </p>

  <p>
    <label for="poster">Poster</label><br/>
      <input name="poster" type="file">
  </p>

  <p>
    <label for="song">Song</label><br/>
      <input name="song" type="file">
  </p>

  <p>
    <input name="submit" type="submit">
  </p>
</form>