<form name="music" action="" method="POST">
  <p>
    <label for="headline">Title</label><br/>
    <input name="headline" type="text">
  </p>

  <p>
    <label for="description">Description</label><br/>
    <input name="description" type="text">
  </p>

  <p>
    <label for="genres"></label><br>
    <select multiple>
      <option>politics</option>
      <option>sports</option>
      <option>entertainment</option>
      <option>religious</option>
    </select>
  </p>

  <p>
    <label for="authur">Authur</label><br/>
    <input name="authur" type="text">
  </p>

  <p>
    <label for="released">Released</label><br/>
      <input name="released" type="text">
  </p>

  <p>
    <label for="poster">Poster</label><br/>
      <input name="poster" type="file">
  </p>

  <p>
    <label for="news">Song</label><br/>
      <input name="news" type="file">
  </p>

  <p>
    <input name="submit" type="submit">
  </p>
</form>